---
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "",
  title: "Pii 3D",
};
---
<PageLayout meta={meta}>
  <div class="animation-container">
  </div>
  <script src="../3d-layout.js"></script>
</PageLayout>
